[Unit]
Description=Thesis API

[Service]
ExecStart=/home/rstudio/thesis-scripts/web/api/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/api

[Install]
WantedBy=multi-user.target
